.modal-backdrop {
    z-index: -1;
}

body,h3,h6,h4{
  font-family: 'Raleway', sans-serif;
}

#header div h3{
  text-align: center;
  color: white;
}

#header{
  background-color: #00b36b;
  padding-top: 1em;
  padding-bottom: 1em;
}
  
 #footer{
   background-color: #0099cc;
 } 

 ul li{
   list-style: none;
 }

 #random_users div img:hover, #random_users2 div img:hover{
  cursor: pointer;
 }